{% extends "flea_market/base.html" %}
{% load static %}

{% block title%}
    <title>Pay using PayPal</title>
{% endblock %}

{% block css_js %}
{% endblock %}

{% block body %}
    <section class="bg-gray200 pt-5 pb-5">
        <div class="container">

                     <article class="card">
                        <div class="card-body">
                            <h1>Thanks for your payment</h1>
                            <p>Your payment has been successfully received.</p>
                        </div>
                     </article>

        </div>
    </section>
{% endblock %}